/* Apply a universal box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-attachment: fixed;
}

/* Header Styles */
header {
    height: 15vh;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Main content area with a responsive background image */
main {
    flex-grow: 1;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210609/pngtree-3d-render-online-shopping-with-mobile-and-bag-image_727266.jpg');
    background-size:cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
}

/* Adding a low opacity overlay */
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.5); /* Black with 50% opacity */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 1.8em;
    padding: 20px;

}
.points{
    padding:50px;
    font-size: 1.5rem;
}

.brand{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    height:15vh;
    gap:50px;
}
/* Making the layout responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .points{
        padding: 0;
    }
    .brand{
        margin-top:50px;
        display: flex;
        justify-content:flex-start;
        height:3vh;
    }
}
